.match-card-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  border: 1px solid #475569;
  border-radius: 12px;
  padding: 15px;
  margin: 10px 0;
  width: 90%;
}

@media (min-width: 992px) {
  .match-card-item {
    width: 45%;
    margin: 10px;
  }
}

.competing-team-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.competing-team-name {
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  margin: 0 0 5px;
}

.result {
  color: #475569;
  font-size: 14px;
  margin: 0 0 5px;
}

.umpires {
  color: #475569;
  font-size: 14px;
  margin: 0 0 5px;
}

.status {
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  margin: 0;
  padding: 4px 8px;
  border-radius: 4px;
  align-self: flex-start;
}

.won {
  background-color: #18ed66;
  color: #000000;
}

.lost {
  background-color: #e31a1a;
  color: #ffffff;
}
