/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (min-width: 992px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.ipl-dashboard-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .ipl-dashboard-heading-container {
    justify-content: center;
  }
}

.ipl-logo-img {
  width: 50px;
}

@media (min-width: 992px) {
  .ipl-logo-img {
    width: 70px;
  }
}

.heading {
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  margin: 0;
}

@media (min-width: 992px) {
  .heading {
    font-size: 32px;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

@media (min-width: 992px) {
  .teams-list {
    justify-content: flex-start;
  }
}

.team-card {
  border-radius: 12px;
  border: 1px solid #ffffff;
  width: 140px;
  margin: 12px;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

@media (min-width: 992px) {
  .team-card {
    width: 200px;
    margin: 20px;
  }
}

.team-logo {
  width: 60px;
}

@media (min-width: 992px) {
  .team-logo {
    width: 80px;
  }
}

.team-name {
  color: #ffffff;
  font-size: 16px;
  margin: 8px 0 0;
  font-family: 'Bree Serif', serif;
}

@media (min-width: 992px) {
  .team-name {
    font-size: 20px;
  }
}

.link-item {
  text-decoration: none;
}