/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e293b;
}

.not-found-heading {
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 32px;
  margin: 0 0 10px;
}

.not-found-text {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}
